// FONT

html {
  // 1rem = 10px
  font-size: 10px;
}

body {
  font-family: $sans;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.8;
  color: $base-text;
  background-color: $bg-light;
  -webkit-font-smoothing: antialiased;
}

// LAYOUT

.container {
  width: 100% - 2 * $site-gutter;
  max-width: $site-width;
  margin-right: auto;
  margin-left: auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

.vertical-center {
  align-items: center;
}

section a {
  color: $primary-text;

  text-decoration: none;
  
  &:hover {
    color: inherit;
    transition: all 200ms ease-in-out;
  }

}
