// SITE

$site-width:  1400px;
$site-gutter: 5%;

// BREAKPOINTS

$tablet:  768px;
$desktop: 1024px;
$large: 1200px;
$xlarge: 1400px;
$xxlarge: 1600px;

// FONTS

$sans: "Work Sans", Helvetica, Arial, sans-serif;

$h1-font-size: 3.8rem;
$h2-font-size: 3.8rem;

// COLORS

$primary-text: #5e9eff;
$base-text: #5d5d5d;

$black: #000;
$white: #fff;
$dark-grey: #666;

// LOGO

$primary-logo: #5e9eff;
$logo-stroke: 4.91;
